<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="sampleDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Administrator\Desktop\Database1.mdf;Integrated Security=True" providerName=".NET Framework Data Provider for SQL Server"/>
  </connectionStrings>
</configuration>
